[submodule "Theme/PaperMod"]
	path = Theme/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "Theme/Compose"]
	path = Theme/Compose
	url = https://github.com/onweru/compose
[submodule "Theme/ShowFolio"]
	path = Theme/ShowFolio
	url = https://github.com/apvarun/showfolio-hugo-theme
[submodule "Theme/DevResume"]
	path = Theme/DevResume
	url = https://github.com/cowboysmall-tools/hugo-devresume-theme
[submodule "learn1/themes/compose"]
	path = learn1/themes/compose
	url = https://github.com/onweru/compose.git
